* {
  font-family: segui oi;

}

body {
  background-color: #679176;
  font-family: segoe ui;
}

input {
  margin: 5px 10px;
}

#wrapper {
  width: 50%;
  margin: 0 auto;
  background: #BCD3CD;
  padding: 10px 15px;
  border-radius: 10px;
  opacity: .9;
  font-family: segoe ui;
}

button {
  background-color: white;
  color: black;
  border: 6px solid #e7e7e7;
  justify-content: center;
}

button:hover {background-color: #e7e7e7;}

h1 {
  color: black;
  padding-left: 30px;
  background-color: #FBECD3;
  font-size: 50px;
  text-align: center;
  opacity: .90;
}

#text {
  color: black;
  text-align: center;
  font-size: 25px;
  font-family: segoe ui;
}

h3 {
  color: black;
  font-size: 30px;
}

h4 {
  color: gray;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
  color: #black;
}
li {
  font-size: 18px;
  background-color: gray;
  opacity: .75;
}


a {
  text-decoration: none;
}
